<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <configurationStrings>
        <add name="DbConfig"
             dataSource="127.0.0.1"
             username="postgres"
             password="postgres"
             database="ivms"/>
    </configurationStrings>
</configuration>

